body{
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', 'Times New Roman', Times, serif;
}

li{
    list-style: none;
}

.top-blue, .bottom-blue, .grey, .top-white, .bottom-white{
    padding-left: 10%;
    padding-right: 10%;
}

.top-blue, .bottom-blue{
    background-color: #1f2937;
    flex: 1;
}

.top-blue{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header{
    padding: 20px 0px;
}

.header-left{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAFA;
}

.header-right{
    display: flex;
    gap: 20px;
}

main{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.main_text{
    width: 600px;
}

h1{
    font-size: 48px;
    color: #F9FAFA;
    margin-bottom: 5px;
    font-weight: bolder;
}

.mainSubText{
    font-size: 18px;
    color: #F9FAFA;
    margin-bottom: 10px;
}

.main_img{
    align-self: center;
    width: 600px;
    height: auto;
}

.sign-up{
    display: block;
    padding: 5px 30px;
    color: #F9FAFA;
    background-color: #3882f6;
    font-weight: bold;
    font-size: 18px;
    border: 0px;
    border-radius: 6px;
}

.grey{
    background-color: #E5E7EB;
    flex: 1;
}

h2{
    font-size: 36px;
    font-weight: bolder;
}

.logicGateList{
    display: flex;
    gap: 30px;
    padding: 0px;
}

.logicGate{
    border: 4px solid;
    border-color: #3882f6;
    border-radius: 4px;
    padding: 50px 0px;
}

.logicGateSubText{
    text-align: center;
    font-size: 18px;
    color: #1f2937;
}

.top-white{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-white, .bottom-white{
    flex: 1;
}

.header{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #E5E7EB;
}

.header a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}
